*{
    background-color: #131313;
    color: aliceblue;
    box-sizing: border-box;

}
body{
  background-color: #131313;
}
.MainUI{
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;


}
.containerr{
  padding-bottom: 15px;
  

}

.ui{
    position: absolute;
    width: 550px;
    
    animation: Sex 4.5s infinite;
}
a{
  text-decoration: none;
}

#menu{
background-color: #121212;
height: 50%;
float: right;
padding-top: 30px;

}
.button{
  animation: Btn 2.8s infinite;

}
h4{
  font-family: QuickSand,sans-serif;
}
.header{
padding-right: 7px;
height: 60px;
}


@keyframes Btn {
  0% {
      transform: (1);
  }

  50% {
      transform: scale(0.95);
  }

  100% {
      transform: scale(1);
  }
}
#c.visible{
  animation: ea 1.5s forwards;

}

@-webkitkeyframes ea
{0%
  {
    transform:perspective(74rem)
     rotateY(-10deg) rotateX(-20deg);
    opacity:0
  }
    to
    {transform:rotateY(0deg) 
      translateX(0);
      opacity:1}
    }
  

@keyframes Sex {
  0% {
      transform: (1);
  }

  50% {
      transform: scale(0.8);
  }

  100% {
      transform: scale(1);
  }
}


  


  
  @media (min-width: 1000px) {
    
    .hero {
      padding: 22rem 0;
    }
 
    .ui {
      top: -5rem;
      max-height: 615px;
    }
    
  }


  ::-webkit-scrollbar {
    width: 6px;
} 
 
::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
}
  

  #menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardd {
    /* card stuff */

    width: 100px;
    height: 33px;
    margin: 10px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 1.0s;
    border-width: 1px;
    box-shadow: inset 0 0 3px #757780;
    /* text stuff */
    font-family:  sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 33px;
    color: #a3a3a3;
  }
  
  .cardd:hover {
    box-shadow: 0 0 50px #757780;
    background-color:   #f90;
    
  }

  .line{
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 90%;
  }
/*CARDS

*/

.card:hover .card--hover a, .card:hover {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}



.card {
  -webkit-box-flex: 300px;
  -ms-flex: 300px;
  flex: 300px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #c3c6ce;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}

.card:hover .card--hover {
  opacity: 1;
  padding-top: 45px;

}
.card:hover .card--hover a {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);

  opacity: 1;
}
.card--hover {
  padding: 40px 0;
  text-align: center;
  opacity: 0.6;
  font-family:  QuickSand,sans-serif;
  height: 211px;
  font-size: 15px;
  transition: 0.25s ease;
}
.card--hover h3 {
  font-size: 30px;
  font-family: QuickSand,sans-serif;
  font-weight: bold;
  margin: 0;
}

.card--hover svg{
  padding-top: 7px;
  width:50px;
  height:50px;

}

.card--hover p {
  margin: 10px 0 0;
}
.card--hover a {
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  border-radius: 20px;
  background-color: #008bf8;
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.25s ease;
}
.card.card--dark {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  width: 300px;
  height: 215px;

}
.card.card--dark .card--hover {
  color: #fff;
}
.card.card--dark a {
  background-color: #7fefbd;
  color: #1a1a1a;
}

.iconc{
  height: 40px;
}

.fot{
  width: 100%;
    background: #151515;
    position: relative;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}